body {
    margin: 0;
}

.text {
  max-width: fit-content;
  margin-left: 2rem;
  margin-right: 2rem;
}

.subtext {
  max-width: fit-content;
  margin-left: 1rem;
  margin-right: auto;
}

h3 {
    margin-left: 0rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

h2 {
    margin-left: 0rem;
    margin-bottom: -2rem;
}

p {
    margin-left: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

html {
    font-family:
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    line-height: 1.5;
}

nav {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo {
    padding-right: 10px;
    font-size: 28px;
    height: 30px;
    max-width: inherit;
}

.title {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2em;
    white-space: nowrap;
}

.app-header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.mathjax {
    width: 2%;
    margin-left: 5rem;
    margin-right: auto;
    font-size: large;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 2px solid #000000;
}
.hide {
    visibility: hidden;
    display: none;
    
}
.black {
    background-color: #000000;
}

.instructions tr:nth-child(n+5) td:nth-child(12n-5) {
    border-right: 2px solid #000000;
}
.instructions tr:nth-child(n+5) td:nth-child(12n+4) {
    border-right: 2px solid #666666;
}
.instructions tr:nth-child(n+5) td:nth-child(8) {
    border-right: 2px solid #666666;
}
.instructions tr:nth-child(4) td:nth-child(10n+1) {
    border-right: 2px solid #666666;
}
.instructions tr:nth-child(2) td:nth-child(n+2) {
    border-right: 2px solid #000000;
} 
.instructions tr:nth-child(4) td:nth-child(12n+2) {
    border-right: 2px solid #000000;
} 
.instructions tr:nth-child(3) td:nth-child(n+17) {
    border-right: 2px solid #666;
} 
.instructions tr:nth-child(3) td:nth-child(3n+16) {
    border-right: 2px solid #000000;
} 
.instructions tr:nth-child(4) {
    border-bottom: 2px solid #000000;
}
.instructions tr:nth-child(3) td:nth-last-child(n+4) {
    border-bottom: 2px solid #666666;
}
.instructions tr:nth-child(4) td:nth-child(3) {
    border-right: 2px solid #666;
} 

.alu tr:nth-child(3) td:nth-child(n) {
    border-bottom: 2px solid #000000;
}
.alu tr:nth-child(n) td:nth-child(5n+1) {
    border-right: 2px solid #000000;
}
.alu tr:nth-child(2) td:nth-child(3) {
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.conditions tr:nth-child(1) th:nth-child(1) {
    border-right: 1px solid #000;
}
.conditions tr:nth-child(1) th:nth-child(2) {
    border-left: 1px solid #000;
}

td {
    border: 1px solid #000000;
    text-align: center;
    padding: 2px;
    text-wrap: nowrap;
    min-width: 20px;
}
th {
    border: 2px solid #000000;
    text-align: center;
    padding: 8px;
}